{% extends 'base.html.twig' %}

{% block title %}Liste des Opérations
{% endblock %}

{% block navbarlists %}
	<ul>
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
		<br/><br/>
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
		<br/><br/>
		<a href="{{ path('app_liste_operations') }}">Lister mes opérations</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Liste des employés</a>
		<br/><br/>
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
		<br/><br/>
		<a href="{{ path('liste_employe_modifier') }}">Modifier un employé</a>
		<br/><br/>
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
		<br/><br/>
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</lu>

{% endblock %}

{% block main2 %}
	
		<table class="table">
			<h2>Lister mes opérations</h2>
			<thead>
				<tr>
					<th scope="col">Nom de commande</th>
					<th scope="col">Date</th>
					<th scope="col">Statut</th>
					<th scope="col">Nom du client</th>
					<th scope="col">Type d'opération</th>
				</tr>
			</thead>
			<tbody>
				{% for commandes in commandeProfil %}
					<tr>
						<th scope="row">{{commandes.nomCommande}}</th>
						<td>{{ commandes.date|date("d/m/Y") }}</td>
						<td>{{commandes.statut}}</td>
						<td>{{commandes.client.nom}}</td>
						<td>{{commandes.operation.typeoperation}}</td>
						<td>
						{% if commandes.statut == "En cours" %}
							<a href="{{ path('expert_operations',{'id': commandes.id})}}" class="btn btn-primary">Modifier</a>
						{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock %}
